In [96]:
import numpy as np
import pandas as pd

# create a DataFrame from the given data
df = pd.read_excel('./data/car_stocks.xlsx')
df['Date'] = df['Date'].astype(str)
df['Manufactured Year'] = df['Date'].str[:4]
updated_car_stocks = df.groupby(['Manufacturer','Manufactured Year'])['Closing Price'].agg(['first','last']).reset_index()
updated_car_stocks.columns = ['Manufacturer','Manufactured Year','Starting Price','Ending Price']
updated_car_stocks['Stock Price Change'] = round((updated_car_stocks['Ending Price'] - updated_car_stocks['Starting Price']) * 100 / updated_car_stocks['Starting Price'])
updated_car_stocks['Stock Price Change'] = updated_car_stocks['Stock Price Change'].astype(str).str.rstrip('%').astype(float)
Median = updated_car_stocks.groupby('Manufactured Year')['Stock Price Change'].transform('median')
updated_car_stocks['Percentile'] = round(updated_car_stocks['Stock Price Change'] - Median)
updated_car_stocks['Percentile'] = updated_car_stocks['Percentile'].astype(int).astype(str) + '%'
updated_car_stocks['Stock Price Change'] = updated_car_stocks['Stock Price Change'].astype(int).astype(str) + '%'
updated_car_stocks

,Manufacturer,Manufactured Year,Starting Price,Ending Price,Stock Price Change,Percentile
0,Chevrolet,2011,28.080,15.600,-44%,-16%
1,Chevrolet,2012,18.480,22.180,20%,3%
2,Chevrolet,2013,21.610,31.450,46%,9%
3,Chevrolet,2014,27.760,27.810,0%,-3%
4,Chevrolet,2015,25.990,28.230,9%,11%
5,Ford,2011,11.220,6.947,-38%,-10%
6,Ford,2012,7.482,8.516,14%,-3%
7,Ford,2013,8.852,10.420,18%,-19%
8,Ford,2014,10.470,10.800,3%,0%
9,Ford,2015,10.290,10.220,-1%,1%
10,Hyundai,2011,30.100,25.250,-16%,12%
11,Hyundai,2012,28.600,30.150,5%,-12%
12,Hyundai,2013,31.700,58.000,83%,46%
13,Hyundai,2014,55.300,56.750,3%,0%
14,Hyundai,2015,53.050,43.150,-19%,-17%
15,Toyota,2011,63.770,51.700,-19%,10%
16,Toyota,2012,57.440,72.840,27%,10%
17,Toyota,2013,74.560,95.310,28%,-9%
18,Toyota,2014,89.710,99.900,11%,8%
19,Toyota,2015,102.580,99.320,-3%,-1%

In [ ]:
from numpy import *
url = 'https://en.wikipedia.org/wiki/Car_colour_popularity'
tables = pd.read_html(url)
df = tables[0]
df.to_csv('color_table.csv')

In [78]:
import pandas as pd

# read the input data from a csv file
df = pd.read_csv('./data/color_table.csv')

# drop the first column as it is not needed
df = df.drop(['Unnamed: 0'], axis=1)

# rename the columns to remove the suffixes
df.columns = ['Colour', 'NA PPG', 'NA DP', 'EU PPG', 'EU DP', 'AP PPG', 'AP DP', 'WORLD PPG', 'WORLD DP']
color_table = df.iloc[2:]
color_table

    Colour NA PPG NA DP EU PPG EU DP AP PPG AP DP WORLD PPG WORLD DP
2    White     21    24     23    24     23    22        22       23
3   Silver     16    16     13    14     23    14        20       18
4    Black     19    19     21    23     19    21        19       21
5     Grey     16    15     17    15      8    20        12       14
6     Blue      8     7      7     8      7     5         7        6
7      Red     10    10      7     6      9     7         9        8
8    Brown      7     5      7     6     10     6         7        6
9    Green      3     2      2     1      1     1         2        1
10  Others    NaN     2      3     3    NaN     4         1        3

In [85]:
# read the input data from a csv file
df = pd.read_csv('./data/cci.csv')
df['TIME'] = pd.to_datetime(df['TIME'])
df['Manufactured year'] = df['TIME'].dt.year
df = df[df['TIME'].dt.month == 1]
df = df[df['TIME'].dt.day == 1]
df = df.drop(["LOCATION","INDICATOR","SUBJECT","MEASURE","FREQUENCY","TIME","Flag Codes"],axis=1)
df.columns = ['CCI','Manufactured Year'] 
CCI = df
CCI

          CCI  Manufactured Year
2    99.31352               2011
14   98.64671               2012
26   98.83145               2013
38   99.60889               2014
50  100.46650               2015